h1 {
  text-align: center;
  color: blue;
  size: 50px;
}

h3 {
  text-align: center;
  color: blueviolet;
  size: 60px;
}

button {
  width: 20%;
  margin: 0 auto;
  display: block;
  color: antiquewhite;
  background-color: black;
}
